@import '../misc/variables.scss';

.homepage{
    max-height: 100dvh;
    background-color: $color-white;

    display: grid;
    grid-template-rows: 2fr 5fr;
    gap: 1rem;
}

.homepage__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-position: bottom center ;
    background-size: cover;
    background-image: url('../../../assets/images/bg-homepage-header.png');

    padding-bottom: 1rem;
}
.homepage__header_h1{
    @include font-coolvetica;
    position: relative;

    font-size: 4rem;
    font-weight: 400;

    text-transform: uppercase;
    -webkit-text-stroke-color: $color-black;
    -webkit-text-stroke-width: 0.125rem;
    letter-spacing: 0.125rem;
}
.homepage__header_h1::before{
    content: '';
    width: 15px;
    height: 45px;
    position: absolute;
    bottom: -17px;
    left: -45px;

    background-repeat: no-repeat;
    background-image: url('../../../assets/images/homepage-header-decoration.png');
}

.homepage__about{
    @include font-coolvetica;

    padding: 5rem 18rem;

    text-align: center;
    line-height: 1.3em;

    background-position: bottom center;
    background-size: cover;
    background-image: url('../../../assets/images/bg-homepage-about.png') ;
}
