@import '../../styles/scss/misc/variables.scss';

$nav-link-padding: 1.5rem;
$nav-link-mobile-padding: 0.7rem; 

.navbar{
    @include font-coolvetica;

    display: grid;
    gap: 0.6rem;
    padding: $nav-link-mobile-padding;
    background-image: url('../../assets/images/bg-navbar.png');

    @media(min-width: 825px){
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: $nav-link-padding;
    }
}

.navbar__logo{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;

    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.navbar__list{
    display: flex;
    gap: 0.6rem 1rem;
    align-items: center;
    flex-wrap: wrap;
    
    li{
        padding-block: $nav-link-mobile-padding; 

        @media(min-width: 825px) {
            padding-block: $nav-link-padding; 
        }
    }

    @media(max-width: 410px){
        justify-content: center;
    }

}
.navbar__list_link{
    font-size: 1.1rem;
    padding: 0.5rem;

    border: 2px solid $color-white;

    transition: 1.2s;

    &:hover{
        color: $color-black;
        background-color:  $color-white;
    }
}
.navbar__list_icons{
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: $nav-link-mobile-padding; 
    
    @media(min-width: 825px) {
        padding: $nav-link-padding; 
    }
}
.navbar__list_icon{
    font-size: 1.5rem;
    color: $color-white;
}