@import "../../styles/scss/misc/variables.scss";

.overlay {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-rows: auto 1fr;
  background-color: $semitransparent-black;
  justify-items: center;
  z-index: 10;

  @media (min-width: 650px) {
    align-items: center;
  }
}

.container {
  position: relative;
}

.container-vertical {
  height: 400px;
  width: min(100% - 0.5rem, 300px);

  @media (min-width: 400px) {
    height: 450px;
  }

  @media (min-width: 600px) {
    height: 650px;
    width: min(100% - 0.5rem, 500px);
  }

  @media (min-width: 1050px) {
    height: 700px;
  }
}
.container-horizontal {
  width: min(100% - 2rem, 1400px);
  height: 250px;

  @media (min-width: 500px) {
    height: 300px;
  }

  @media (min-width: 650px) {
    height: 600px;
  }

  @media (min-width: 1050px) {
    height: 700px;
  }

  @media (min-width: 1650px) {
    height: 800px;
  }
}

.xMark {
  align-self: start;
  justify-self: end;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 5px;
  color: $color-white;
  background-color: $color-black;

  &:hover {
    cursor: pointer;
  }
}
