@import '../../styles/scss/misc/variables.scss';

.overlay{
    position: fixed;
    inset: 0;
    display: grid;
    background-color: $semitransparent-black;
    align-items: center;
    justify-items: center;
    z-index: 10;
}

.container{
    position: relative;
    padding: 4rem;
}
.container-vertical{
    width: 500px;
    height: 700px;
}
.container-horizontal{
    width: 1025px;
    height: 600px;
}

.xMark{
    position: absolute;
    top: -35px;
    right: -35px;

    width: 35px;
    height: 35px;
    color: $color-white;

    &:hover{
        cursor: pointer;
    }
}