// colors
$color-white: rgb(248, 248, 248);
$color-black: #0e0d0d;
$color-dark-grey: #181616;

//typography
@mixin font-coolvetica{
    font-family: 'Coolvetica', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}
